body {
    background-color: rgb(24, 31, 24);
}

.logo {
    text-align: center;
    margin: 2vh 1vh;
}
.logo > img {
    height: 4vh;
    width: 4vh;
}

.video { 
    display: flex;
    justify-content: center;
    height: 600px;
    margin-top: 2em;
}

img {
    height: 600px;
    width: 700px;
}